.investor-account-page {
  background-color: #E1F0DF;
}

.investor-account-head {
  background-color: #347347;

}

.investor-account-page img {
  border-radius: 50%;
  border: 5px solid green;
  width: 10%;
}

.individual-account-head{
  background-color:#ffff;
}

.individual-account-page {
  background-color:E1F0DF;
}
.badge-image{
  background-size: 80px;
  padding:40px;
  width: 50px; 
  height: auto;
  margin-left: 20px; 
}