.map-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 3em;
  background-color: #E1F0DF;
}

.map-wrapper h2 {
  color: #347347;
}

.results-wrapper p {
  font-size: .85rem;
}

.sub-result-wrapper {
  margin-bottom: 1em;
  background-color: rgba(211, 211, 211, 0.381);
  padding: 1em;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mymap-container {
  width: 50%;
}

@media(max-width:760px) {
  .map-wrapper {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .mymap-container {
    width: 80%;
  }
}