@media screen and (max-width: 992px) {
    .impactWrapper:last-child {
      margin-inline-start: auto;
      margin-inline-end: auto;
    }
  }
  
  
  
  p {
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; 
      margin-top:30px;
  }

  .intro-container h2 {
    color: #347347;
    margin-top:60px;
    margin-bottom:20px;

  }
  .intro-container ul {
    list-style-type: none;
  }
  
  .intro-container ul li {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    text-align: start;
    gap: 2em;
  }
  /* styles.css */
  
  .intro-container h3 {
    margin-top:60px;
    margin-bottom:20px;
  }
  
  .row.my-4 {
    margin-top: 10px;    /* You can adjust the value as needed */
    margin-bottom: 10px; /* You can adjust the value as needed */
  }
  .icon-wrapper {
    background-color: #E1F0DF;
    padding: 1em;
    margin-bottom: 1.2em;
  }
  
  .signUpWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: auto;
    margin-top: 40px;
  }
  
  .signUpWrapper button {
    background-color: #347347;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: .8em 2em;
  }