.homehero-container {
  height: 600px;
  width: 100%;
  background-color: #E1F0DF;
  display: flex;
  align-items: center;
  padding: 3em;
  justify-content: space-between;
}




.text-wrapper h1 {

  color: #347347;
}

.intro-container {
  max-width: 1280px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.intro-container h2 {
  color: #347347;
}

.intro-container ul {
  list-style-type: none;
}

.intro-container ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  text-align: start;
  gap: 2em;
}

.icon-wrapper {
  background-color: #E1F0DF;
  padding: 1em;
}




.step-wrapper {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

@media (max-width:880px) {
  .homehero-container {
    flex-direction: column-reverse;
    text-align: center;
  }



}