.homehero-container {
  height: 600px;
  width: 100%;
  background-image: url(../../assets/pexels-cottonbro-studio-6591434.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}

.homehero-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transform: translate(-50%, -50%);
  color: #fff;
}

.text-wrapper h1 {
  margin-bottom: 1em;
}


.intro-container {
  margin: 4em;
}

.intro-container ul {
  list-style-type: none;
  margin: 0;
}

.intro-container ul li {
  display: flex;
  gap: 2em;

  align-items: center;
  margin-bottom: 1.5em;

}

.impact-wrapper {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
}

.impact-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  text-align: center;

  
  margin-bottom: 3em;
}
.step-wrapper{
  display:flex;
  justify-content: space-between;
  gap:2em;
}